<% if(!user	){ %>
<nav>
	<div class="logo">
		<i class="ri-steering-2-line"></i>
		<a href="/"><span>MAH</span>motors</a>
	</div>
	<div class="menubar">
		<a href="/">Home</a>
		<a href="/cars">Cars</a>
		<a href="/#about">About</a>
		<a href="/#footer">Contact</a>
		<a href="/Signup">Registration</a>
		<a href="/Signin">Login</a>
	</div>
</nav>
<% } else { %>
<nav>
	<div class="logo">
		<i class="ri-steering-2-line"></i>
		<a href="/"><span>MAH</span>motors</a>
	</div>
	<div>
		<p>Welcome <%= user.name %>!</p>
	</div>
	<div class="menubar">
		<a href="/user/<%= user._id %>">Home</a>
		<a href="/user/<%= user._id %>/cars">Cars</a>
		<a href="/user/<%= user._id %>/#about">About</a>
		<a href="/user/<%= user._id %>/#footer">Contact</a>
		<a href="/user/<%= user._id %>/profile">Profile</a>
		<a href="/logout">Logout</a>
	</div>
</nav>
<% } %>
